@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

body {
  font-family: 'Belleza', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5E8C7; /* spa-beige */
}